@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>
    <div class="wrapper">
        <div class="main-header">
            @await Component.InvokeAsync("_LayoutNavbarComponentPartial")

            @await Component.InvokeAsync("_LayoutSidebarComponentPartial")
            @RenderBody()
        </div>
    </div>
   

</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")

</html>