
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">

@await Component.InvokeAsync("_HeadComponentPartial");

<body id="top">

    <!-- header
    ================================================== -->
    @await Component.InvokeAsync("_NavbarComponentPartial");
     <!-- end s-header -->
    <!-- home
    ================================================== -->
    @await Component.InvokeAsync("_FeatureComponentPartial");
     <!-- end s-home -->
    <!-- about
    ================================================== -->
    @await Component.InvokeAsync("_AboutComponentPartial");
    <!-- end about -->
    <!-- works
    ================================================== -->
    @await Component.InvokeAsync("_PortfolioComponentPartial");
     <!-- end works -->
    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialComponentPartial");
     <!-- end s-testimonials -->
    <!-- blog
    ================================================== -->
     <!-- end s-blog -->
    <!-- s-cta
    ================================================== -->

    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticComponentPartial");
     <!-- end s-stats -->
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_ContactComponentPartial");
     <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    @await Component.InvokeAsync("_FooterComponentPartial");

</body>

</html>